{% extends "CarMaintenanceTracker_base.html" %}
{% block title %}View History{% endblock %}
{% block content %}
        <h1>History:</h1>

<h3> Account info</h3>
{% for i in account_list %}
<p>
        <a href="{% url 'CarMaintenanceTracker_details' i.id %}">{{ i.first_name }} {{ i.last_name }}</a> :<a href="{% url 'CarMaintenanceTracker_details' i.id %}"> {{ i.make }} {{ i.carModel }}</a>
</p>
{% endfor %}

<h3> Services and dates </h3>
{% for i in service_list %}
<p>
        {{ i.date }} : {{ i.service }}
</p>
{% endfor %}
{% endblock %}